<div class="card">
  <div class="card-body">
    <h2 class='card-title d-flex justify-content-between mb-4'></h2>


<div class="row">

  <div class="col-md-4">

    <%= image_tag(@product.image, style:'width:300px; height:auto') %>

  </div>

  <div class="col-md-8">

    <div class="book-info">

      <h2 class="book-title"><%= @product.title %></h2>
      <h3 class="book-author"><span>Rs</span> <%= @product.price %></h3>
      <h2 class="avg-rating">Average Rating</h2>

      <div class="average-revieww-rating" data-score=<%= @average_revieww %>></div>
      <span class="number-of-reviews">Based on <%= @product.reviewws.count %> reviews</span>
      <p class="book-desc"></p>


    </div>
  </div>


</div>




<div class="row">

  <div class="col-md-4">

    <div class="reviews">
        <div>
        <%= link_to "Add Review", new_product_revieww_path(@product), class: "btn-custom",class: "btn btn-outline-info" %>
      </div>
      <!-- Where the reviews/ratings will go -->
      <h1>Reviews</h1>
      <%= render @product.reviewws %>

    </div>  

  </div>

</div>

<div class="links btn-group">

  <%= link_to "Back", root_path, class: "btn btn-custom" %>


</div>  


<script>
  $('.revieww-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

<script>
  $('.average-revieww-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
    
  });
</script>
    </div>
  </div>


</div>